asgiref
attrs
autobahn
Automat
certifi
cffi
channels
charset-normalizer
constantly
crispy-tailwind
cryptography
cycler
daphne
Django
django-cors-headers
django-crispy-forms
django-jazzmin
django-widget-tweaks
djangorestframework
djangorestframework-simplejwt
drf-yasg
hyperlink
idna
incremental
inflection
markdown-it-py
mdurl
mpmath
packaging
pillow
pyasn1
pyasn1_modules
pycparser
Pygments
PyJWT
PyMySQL
pynput
pyobjc-core
pyobjc-framework-ApplicationServices
pyobjc-framework-Cocoa
pyobjc-framework-CoreText
pyobjc-framework-Quartz
pyOpenSSL
pyparsing
pytz
PyYAML
regex
requests
rich
service-identity
setuptools
six
sqlparse
sympy
tqdm
Twisted
txaio
typing_extensions
uritemplate
urllib3
zope.interface
