asgiref
attrs
autobahn
Automat
certifi
cffi
channels
charset-normalizer
constantly
crispy-tailwind
cryptography
cycler
daphne
Django
django-cors-headers
django-crispy-forms
django-jazzmin
django-widget-tweaks
djangorestframework
djangorestframework-simplejwt
drf-yasg
hyperlink
idna
incremental
inflection
markdown-it-py
mdurl
mpmath
packaging
pillow
PyJWT
PyMySQL
requests
rich
setuptools
six
sqlparse
sympy
tqdm